html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Courier New", Courier, monospace;
    font-size: 30px;
    background-color: #EDE7FF;
    color: #000 ;
}

.container {
	display: flex;
    align-items: center;
    flex-direction: column;
}

.countriesClass{
	text-align: center;
}

.countriesClass p {
	font-size: 100px;
	font-weight: bold;
}